<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CodeGenerator</display-name>
  <servlet>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.metelyoff.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.metelyoff.controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>UpdateUserServlet</display-name>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>com.metelyoff.controller.UpdateUserServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>UpdateAdminUserServlet</display-name>
		<servlet-name>UpdateAdminUserServlet</servlet-name>
		<servlet-class>com.metelyoff.controller.UpdateAdminUserServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>AddLockServlet</display-name>
		<servlet-name>AddLockServlet</servlet-name>
		<servlet-class>com.metelyoff.controller.AddLockServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>GenerateCodeServlet</display-name>
		<servlet-name>GenerateCodeServlet</servlet-name>
		<servlet-class>com.metelyoff.controller.GenerateCodeServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserServlet</servlet-name>
		<url-pattern>/UpdateUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateAdminUserServlet</servlet-name>
		<url-pattern>/admin/UpdateAdminUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddLockServlet</servlet-name>
		<url-pattern>/admin/AddLockServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GenerateCodeServlet</servlet-name>
		<url-pattern>/admin/GenerateCodeServlet</url-pattern>
	</servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>